.vc-blue {
  --vc-accent-50: #F2F8FC !important;
  --vc-accent-100: #E6F1F9 !important;
  --vc-accent-200: #D9EAF6 !important;
  --vc-accent-300: #CCE3F3 !important;
  --vc-accent-400: #C0DDF0 !important;
  --vc-accent-500: #B3D6EC !important;
  --vc-accent-600: #A6CFE9 !important;
  --vc-accent-700: #99C8E6 !important;
  --vc-accent-800: #8DC1E3 !important;
  --vc-accent-900: #80BAE0 !important;
}
